html{
  scroll-behavior: smooth;
  overflow-y: scroll;
}

/* main color */
.font-primary{
  color: rgb(67, 93, 228);
}
.font-secondary{
  color: rgb(109, 127, 223);
}

.font-purple{
  color: rgb(170, 14, 168);
}

.font-green{
  color: rgb(13, 142, 2);
}

.font-red{
  color: rgb(171, 0, 26);
}

/* ----------- */

.sidebar{
  /*display: flex;*/
  left: 0;
  top: 0;
  position: fixed;
  width: 20%;
  height: 100vh;
  /* background: rgb(67, 93, 228); */
  background: linear-gradient(rgb(67, 93, 228), rgb(109, 127, 223));
  align-items: center;
  text-align: center;
}

.profile{
  overflow: auto;
  margin: 0;
  padding-top: 130px;
}

.profile-img{
  width: 40%;
  height: auto;
  border: 5px solid rgba(38, 45, 213, 0.77);
  border-radius: 50%;
  transition: all .5s ease;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li{
  display: block; 
  width: 17rem; 
  text-align: justify-all;
}

.menu ul li.active{
  border-width: 17rem;
  /*border-top: 1px solid white;*/
  border-bottom: 1px solid white; 
}

hr.line{
  position: relative;
  width: 100%;
  /* height: 1px; */
  color: white;
  border: 1px solid rrgb(67, 93, 228);
}

.tag-name{
  font-family: cursive;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.profile-img:hover{
  width: 50%;
  /* height: auto;
  border-radius: 50%; */
}

.navbar{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.navbar-item a{
  text-transform: uppercase;
  color: white;
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: .4s;
  text-decoration: none;
  font-family: 'Saira Extra Condensed';
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar-item a:hover{
  font-size: 2rem;
}

.nav{

}

section{
  height: 100vh;
}

.content{
  width: 70%;
  text-align: justify;
  text-justify: inter-word;
}

.content p{
  font-family: 'Chivo';
}

a.bg-primary{
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  margin: auto;
  background-color: rgb(67, 93, 228);
}

.dicoding:hover {
    font-size: 50px;
    content: url(./img/me.jpg); /* no need for qoutes */
    display: block;
}

a.bg-primary:hover{
  background-color: rgb(26, 58, 226);
}

.main{
  position: inherit;
  margin-left: 18rem;
  height: 100%;
  top: 0;
  overflow: auto;
  right: 0;
  padding: 0px 10px;
}

h1, h2, h3, h4, h5, h6, li{
  font-family: 'Saira Extra Condensed';
  text-transform: uppercase;
}

h1 {
  margin-bottom: 0 !important;
  font-size: 6rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
}

h3{
  margin-top: 0 !important;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: grey;
}

.page-top{
  position: fixed;
  right: 40px;
  bottom: 40px;
}

.sosmed{
  position: absolute;
  right: 100px;
  float: right;
  border-radius: 50%;
}

.sosmed img{
  filter: brightness(0) invert(1);
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.sosmed1{
  top: 10vh;
}
.sosmed2{
  top: 130vh;
}
.sosmed3{
  top: 240vh;
}
.sosmed4{
  top: 355vh;
}
.sosmed5{
  top: 470vh;
}
.sosmed a{
  transition: 0.4s;
  margin: 20px;
  display: block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}
.sosmed a:hover{
  background-color: rgb(67, 93, 228);
  color: white;
}

a.btn{
  text-decoration: none;
  padding: 10px 20px;
}

button{
  background: transparent;
  padding: 10px 20px;
  outline-color: transparent;
  border: none;
}

.outline-white{
  font-size: 1.1rem;
  /* border: 1px solid white; */
  /* border-radius: 5px; */
  color: white;
}

.outline-white2{
  font-size: 1.1rem;
  /* border: 1px solid white; */
  /* border-radius: 5px; */
  color: white;
}

.outline-white2:hover{
  border-radius: 0 0 0 5px;
  color: rgb(26, 58, 226);
  background-color: white;
  cursor: pointer;
}

.outline-white:hover{
  border-radius: 0 0 5px 0;
  color: rgb(26, 58, 226);
  background-color: white;
  cursor: pointer;
}

.btn-top{
  border-radius: 5px 0 5px 0;
  color: white;
  text-decoration: none;
  background-color: rgb(67, 93, 228);
  /* border-radius: 50%; */
  padding: 10px 10px;
  height: 3.5rem;
  width: 3.5rem;
}

.go-back{
  position: absolute;
  top: 0;
  left: 0;
}


.toggle-hide{
  float:right;
  position: absolute;
  top: 0;
  left: 14rem;
}

.main-window{
  /*display: flex;*/
}

.second-window{
  top: 0;
  margin: 0;
  background-color: red;
  display: grid;
  overflow: hidden  background-color: red;
}

.second-window,
.main-window{
  transition: 5s;
}

p{
  color: #3f4042;
  text-indent: 2rem;
}

.edu ul{
  margin-bottom: 4rem;
}

.edu ul li{
  margin-left: 1.5rem;
  width: 20rem;
  display: block;
  font-size: 2rem;
}

.exercise ul li{
  width: 30rem;
  font-size: 1.5rem;
  margin-left: 3rem;
}